.crystal-images{
    width: 100px;
    height: 100px;
}

/* #purple-crystal{
    width: 100px;
    height: 100px;
    
}

#yellow-crystal{
    width: 100px;
    height: 100px;
}

#green-crystal{
    width: 100px;
    height: 100px;
} */

h1{
    color: hotpink;
}
